html.dark {
  color-scheme: dark;
}

.dark .VPContent {
  background-color: rgb(10, 10, 11);
  background-image: url("/grid.svg");
}

.vp-doc h2 {
  border-top: 0px;
  margin-top: 10px;
}
/* .vp-doc ol,.vp-doc ul {
  padding-left: 40px;
} */

/* .vp-doc ol{
  padding-left: 40px;
} */
.VPMenuLink .link {
  line-height: 28px !important;
}

.VPSidebarGroup .link {
  padding: 3px 0 !important;
}

.VPTeamPageTitle .title {
  line-height: 32px;
  font-size: 24px;
  opacity: 0.5;
}

.VPTeamPageTitle .lead {
  font-size: 14px;
  opacity: 0.4;
}

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}
.content-body{
  background: none;
}
.custom-block.tip code{
  width: 100%;
}
html:not(.dark) {
  strong{
    color: rgba(0,0,0,1);
  }
}

ol{
  padding-left: 30px !important;
}
p + ol{
  padding-left: 40px !important;
}
p + ul{
  padding-left: 40px !important;
}
ul ul{
  list-style: circle !important;
}